* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff;
}
.container{
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
.block {
  border-radius: 10px;
  padding: 20px;
}

h1,
label {
  color: #ffff;
}

label{
  color: #333;
  font-weight: 600;
}

